.speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    }
.direction{
     font-family: "Times New Roman";
     font-size: 15px;
     color: black;
     background-color: rgb(204, 255, 255);
    }
.direction:hover{
        color: rgb(18, 119, 181); 
        background-color: rgb(208, 178, 195);
     }
.name{
        font-family: Verdana;
        color:rgb(226, 48, 48);
    }
.NORA{
        color: rgb(162, 68, 162);
    }
.HELMAR{
        color: rgb(122, 4, 4);
    }
.table,th,td{
    width: 300px;
    height: 30px;
    text-align: center;
    border-style: groove;
    border-collapse: collapse;
    padding: auto;
    }    
th, td {
    background-color: #9fd2b7
    }    
.NORA:hover { 
        text-shadow:5px 5px 5px rgb(10, 69, 26);
        border:2px solid rgb(176, 111, 57);
        cursor:pointer;
    }
.HELMAR:hover {
        text-shadow:5px 5px 5px rgb(19, 78, 72);
        border:2px solid rgb(181, 81, 137);
        cursor:pointer;
    }    